apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-argo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/hasti2811/eks-project
    targetRevision: main
    path: kubernetes/charts/app_chart
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNameSpace=true
