repositories:
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx

  - name: external-dns
    url: https://kubernetes-sigs.github.io/external-dns

  - name: cert-manager
    url: https://charts.jetstack.io

  - name: argo
    url: https://argoproj.github.io/argo-helm

  - name: prometheus
    url: https://prometheus-community.github.io/helm-charts

releases:
  - name: nginx-ingress
    namespace: ingress-nginx
    chart: ingress-nginx/ingress-nginx
    createNamespace: true
    values:
      - controller:
          service:
            type: LoadBalancer
            annotations:
              service.beta.kubernetes.io/aws-load-balancer-type: 'nlb'
              service.beta.kubernetes.io/aws-load-balancer-scheme: 'internet-facing'

  - name: external-dns
    namespace: external-dns
    createNamespace: true
    chart: external-dns/external-dns
    values:
      - provider: aws
        sources:
          - ingress
        domainFilters:
          - hastiamin.co.uk
        policy: sync
        registry: txt
        txtOwnerId: eks-cluster
        serviceAccount:
          create: true
          name: external-dns
        ingressClassNames:
          - nginx
        needs:
          - ingress-nginx/nginx-ingress

  - name: cert-manager
    createNamespace: true
    namespace: cert-manager
    chart: cert-manager/cert-manager
    values:
      - installCRDs: true

  - name: argocd
    namespace: argocd
    createNamespace: true
    chart: argo/argo-cd
    version: 7.7.3
    needs:
      - ingress-nginx/nginx-ingress
      - cert-manager/cert-manager
      - external-dns/external-dns
    values:
      - server:
          service:
            type: ClusterIP

        configs:
          params:
            server.insecure: true

        applicationSet:
          enabled: true

  - name: prometheus
    createNamespace: true
    namespace: monitoring
    chart: prometheus/kube-prometheus-stack
    version: 81.2.2
    needs:
      - ingress-nginx/nginx-ingress
      - cert-manager/cert-manager
      - external-dns/external-dns
    values:
      - alertmanager:
          persistentVolume:
            storageClass: gp3
      - server:
          persistentVolume:
            storageClass: gp3
