name: k8s + helm

on:
  workflow_dispatch:

permissions:
  security-events: write

env:
  AWS_REGION: 'eu-west-2'

defaults:
  run:
    working-directory: kubernetes

jobs:
  k8s_helm:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.34.2

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v4.0.5

      - name: Install Helm Diff plugin
        run: |
          helm plugin install https://github.com/databus23/helm-diff

      - name: Install Helmfile
        run: |
          curl -L https://github.com/helmfile/helmfile/releases/download/v0.165.0/helmfile_0.165.0_linux_amd64.tar.gz \
          | tar -xz
          sudo mv helmfile /usr/local/bin/helmfile

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region ${{ env.AWS_REGION }} \
            --name example

      # - name: testing
      #   run: |
      #     helmfile version
      #     helm version
      #     kubectl version
      #     kubectl config get-contexts

      - name: Deploy cluster services with Helmfile
        run: |
          helmfile apply

      - name: Apply ClusterIssuer
        run: kubectl apply -f clusterissuer.yaml

      - name: Apply ArgoCD Application
        run: kubectl apply -f argocd.yaml

      - name: Apply Ingress resources
        run: |
          kubectl apply -f argocd-ingress.yaml
          kubectl apply -f graphana-ingress.yaml
          kubectl apply -f prometheus-ingress.yaml
